generic-service:
  nameOverride: hmpps-restricted-patients-api
  productId: DPS066

  serviceAccountName: hmpps-restricted-patients-api

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-restricted-patients-api
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-restricted-patients-api-cert
    path: /
    annotations:
      # Secure the retry all dlqs endpoint from outside of the Kubernetes ingress
      nginx.ingress.kubernetes.io/server-snippet: |
        server_tokens off;
        location /queue-admin/retry-all-dlqs {
          deny all;
          return 401;
        }

  # Environment variables to load into the deployment
  env:
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "postgres,logstash"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-restricted-patients-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    hmpps-restricted-patients-api-client-creds:
      RESTRICTED_PATIENTS_API_CLIENT_ID: "API_CLIENT_ID"
      RESTRICTED_PATIENTS_API_CLIENT_SECRET: "API_CLIENT_SECRET"
    hmpps-domain-events-topic:
      HMPPS_SQS_TOPICS_DOMAINEVENTSOUTBOUND_ARN: "topic_arn"
    rp-rds-instance-output:
      DATABASE_ENDPOINT: "rds_instance_endpoint"
      DATABASE_NAME: "database_name"
      DATABASE_USERNAME: "database_username"
      DATABASE_PASSWORD: "database_password"
    prison-events-restricted-patients-queue:
      HMPPS_SQS_QUEUES_OFFENDEREVENTS_QUEUE_NAME: "sqs_queue_name"
    prison-events-restricted-patients-dlq:
      HMPPS_SQS_QUEUES_OFFENDEREVENTS_DLQ_NAME: "sqs_queue_name"
    domain-events-restricted-patients-queue:
      HMPPS_SQS_QUEUES_DOMAINEVENTS_QUEUE_NAME: "sqs_queue_name"
    domain-events-restricted-patients-dlq:
      HMPPS_SQS_QUEUES_DOMAINEVENTS_DLQ_NAME: "sqs_queue_name"

  allowlist:
    groups:
      - internal

  # The name has max length of 22 chars (Cronjob name max length is 52 chars, including prefix "hmpps-restricted-patients-api-")
  # The type must exist in enum BatchType
  batchjobs:
    - name: past-date-check
      type: PAST_DATE_CHECK
      schedule: "0 3 * * *"

generic-prometheus-alerts:
  alertSeverity: syscon
  targetApplication: hmpps-restricted-patients-api
  sqsAlertsTotalMessagesThreshold: "0"

cron:
  retry_dlqs_schedule: "*/10 * * * *"
